body{
	background-color:white;
}
.grid{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}


h3.titleProjects{
	font-family:nevis;
	text-transform:uppercase;
	color:#51316c;
	display: table-cell;
	vertical-align: middle;
	font-size:2.5vw;
	padding:0 2.5em;
}

ul.projectTiles{
/* 	max-width:100vw;
	height:100vh;

	border: 1em solid white; 
	right:0;
	*/
	position:fixed;
	padding:0;
	margin:0;
	top:0;
	right:0;
	left:0;
	bottom:0;
/* 	width:98vw; */
	height:96vh;	
}

#wrapper{
/* 	width:100%;
	height:100%;
	position:relative; */
}
li.tiles.printBrand{
	float:right;
}

li.tiles{
	list-style-type: none;
	height: 50%;
	width: 33%;
	position:relative;
	display:inline-block;
	float:left;
	border: 1px solid #faf8f9;
}

.content{
	position:absolute;
	width:100%;
	height:100%;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	display: table;
    text-align: center;
	background-color:#faf8f9;
}

/**General Project Background Image  & Logo**/
.cover{
	background-size: 120% auto;
    background-repeat: no-repeat;
}
.cover:hover{
	background-size: 100% auto;
	-webkit-transition: visibility 0s linear 0.3s, opacity 0.5s ease-out;
	transition: visibility 0s linear 0.3s, opacity 0.5 ease-out;
}

/**Project White Logo**/
.ilpic{
	background-image:url("../img/logos/illestevaLogo-White.png");
	background-size: 45% auto;
}
.swpic{
	background-image:url("../img/logos/SawaLogo-White.png");
	background-size: 40% auto;
}
.tbpic{
	background-image:url("../img/logos/COS-logo-white.png"); 
	background-size: 45% auto;
	padding-top:2em;
}
.scpic{
	background-image:url("../img/logos/ScentualsLogo-White.png");
	background-size: 40% auto;
}

.ompic{
	background-image:url("../img/logos/optimailLogo-07.png");
	background-size: 50% auto;
}


/**Project Background Image**/
.techbytes{
	background-image:url("../img/GeneralSurrey_960.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.techbytes:hover{
	background-size: 150% auto;
}
.sawa{
	background-image:url("../img/sawaCover.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.sawa:hover{
	background-size: 120% auto;
}
.optimail{
	background-image:url("../img/optimailCover2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.optimail:hover{
	background-size: 110% auto;
}
.scentuals{
	background-image:url("../img/ScentualsVanilla.jpg");
	background-position: 40% 25%;
	background-repeat: no-repeat;
}
.scentuals:hover{
	background-size: 110% auto;
}

.illesteva{
	background-image:url("../img/illesteva/illestevaCover.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.illesteva:hover{
	background-size: 110% auto;
}

.projecttiles{
	bottom: 0;
	right: 0;
	left: 0;
	background-color:rgba(81, 49, 108, 0.85);
	background-position:center;
    background-repeat: no-repeat;
}
.projecttiles:hover{
	opacity:0;
	-webkit-transition: visibility 0s linear 0.3s, opacity 0.5s ease-out;
	transition: visibility 0s linear 0.3s, opacity 0.5 ease-out;
}

a.project{
	display: table-cell;
	vertical-align: middle;
	opacity:1;
	text-decoration:none;
	font-family:nevis;
	text-transform:uppercase;
	color:white;
	padding:9em 11em 0 11em;
	line-height:1.5em;
	letter-spacing:2px;
	font-size:0.7rem;
}
/** END: General Project Background Image  & Logo**/


/** Tablet **/
@media(max-width:80em){
	.cover, .cover:active, .cover:hover{
		background-size: 110% 100%;
		background-repeat: no-repeat;
	}
	.projecttiles{
		bottom: 0;
		right: 0;
		left: 0;
		background-color:rgba(0,160,154,0.3);
		background-position:center;
		background-repeat: no-repeat;
	}

	a.project{
		padding: 7em 5em 0 5em;
	}
	ul.projectTiles {
		position:relative;
/* 		width: 97.5vw; */
	}
}

/** Tablet **/
@media(max-width:50em){
	
	li.tiles{
		list-style-type: none;
		height: 40vh;
		width:50%;
		position:relative;
		display:inline-block;
		float:left;
		margin-bottom:0.75em;
	}
}
/** Phone **/
@media(max-width:35em){
	li.tiles.first{
		height:25vh;
	}
	li.tiles.printBrand{
		height:25vh;
	}
	
	h3.titleProjects{
		font-family:nevis;
		text-transform:uppercase;
		color:#51316c;
		font-size:7vw;
	}

	li.tiles{
		list-style-type: none;
		height: 40vh;
		width:100%;
		position:relative;
		display:inline-block;
		float:left;
		margin-bottom:0.75em;
	}

	.cover, .cover:active, .cover:hover{
		background-size: 120% auto;
		background-repeat: no-repeat;
	}
	.projecttiles{
		bottom: 0;
		right: 0;
		left: 0;
		background-color:rgb(81, 49, 108);
		background-position:center;
		background-repeat: no-repeat;
	}

	a.project{
		padding: 7em 5em 0 5em;
	}
}
