body{
	vertical-align:center;
}

img{
	margin-top:30px;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
		width:100%;
        height: 100%;
        background: #222222;
        z-index: 1000;
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: opacity 4s ease-in-out;  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: opacity 4s ease-in-out;  /* IE 9 */
                transform: opacity 4s ease-in-out;  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }